<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Najpierw szukaj lokalnie, potem w publicznym repozytorium -->
    <add key="Local" value="./nupkgs" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <!-- Mapa dla pakietów Shared.* -->
    <packageSource key="Local">
      <package pattern="Shared.*" />
    </packageSource>
    <!-- Wszystkie inne pakiety z NuGet -->
    <packageSource key="NuGet">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>