# ↓ Create .env file with this content to develop this service ↓
# --- "cp env.example .env" ---

REPORT_SERVICE_PORT=5007
MONGO_CONN_STR="mongodb://admin:secret123@report-db:27017"

# For RabbitMQ
RABBITMQ_HOST=message-broker
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUALHOST=/

# Enter connection string for azure
AZURE_BLOB_CONN_STR=""
AZURE_BLOB_CONTAINER_NAME=""