# ↓ Create .env file with this content to develop this service ↓
# --- "cp env.example .env" ---

EMAIL_SERVICE_PORT=5008

# For RabbitMQ
RABBITMQ_HOST=message-broker
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUALHOST=/

AZURE_BLOB_CONN_STR=""
AZURE_BLOB_CONTAINER_NAME=""

# For email
EMAIL_USER=""
EMAIL_PASSWORD=""