# ↓ Create .env file with this content to develop this service ↓
# --- "cp env.example .env" ---

WORKSHOP_SERVICE_PORT=5006
POSTGRES_CONN_STR="Host=localhost;Port=5434;Database=WorkshopDb;Username=postgres;Password=abcdefg"
AUTH_SERVICE_URL=http://localhost:5005

# For RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUALHOST=/