AUTH_DB_PORT=5433
AUTH_SERVICE_PORT=5005
JWT_SECRET_KEY="vX1kggqwXDhOY2msRkSVmgeGuax7EPp2"
POSTGRES_CONN_STR=Host=auth-db;Port=5432;Database=AuthDb;Username=postgres;Password=abcdefg


# For RabbitMQ
RABBITMQ_HOST=message-broker
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUALHOST=/