# ↓ Create .env file with this content to develop this service ↓
# --- "cp env.example .env" ---

AUTH_DB_PORT=5433
POSTGRES_CONN_STR="Host=localhost;Port=5433;Database=AuthDb;Username=postgres;Password=abcdefg"
JWT_SECRET_KEY="vX1kggqwXDhOY2msRkSVmgeGuax7EPp2"

# For RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUALHOST=/