# ↓ Create .env file with this content to develop this service ↓
# --- "cp env.example .env" ---

GATEWAY_PORT=5010
AUTH_SERVICE_URL=http://auth-service:5005
WORKSHOP_SERVICE_URL=http://workshop-service:5006
REPORT_SERVICE_URL=http://report-service:5007